/***************\
    EPISODES
\***************/

.episodes a{
    font-size: 1.3em;
    color: inherit;
    width: 33%;
    display: inline-block;
    text-align: center;
    border: 1px solid #760001;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-decoration: none;
}

/****************\
    SMARTPHONE
\****************/

@media only screen and (max-width: 425px) {
    .episodes {
        width: 100%;

        a {
            width: 100%;
        }
    }
}

/*****************\
    TABLETTES
\*****************/

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .episodes {
        width: 100%;

        a {
            width:  49.3%;
        }
    }
}

/*****************\
    ECRAN PC
\*****************/

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .episodes {
        width: 100%;

        a {
            width: 32.8%;
        }
    }
}

/*****************\
    RESP MENU
\*****************/

.header__icon {
    display: none;
}

@media only screen and (max-width: 500px) {
    .site-pusher {height:100%;}
    .bloc_page {overflow: hidden;}

    .site-pusher {
        transition-duration: 0.3s;
        transform: translateX(0px);
    }

    .menu-nav {
        display: none;
    }
    .banniere_image, .episodes { @include clearfix }

    .header {
        position: static;
    }

    .header__icon{
        font-weight: bold;
        padding: 0 25px;
        position: absolute;
        top: 0px;
        left: -13px;
        float: left;
    }

    .header__icon {
        position: absolute;
        display: block;
        float: right;
        width: 75px;
        height: 75px;
        cursor: pointer; }
    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 0;
        top: 27px;
        right: 31px;
        text-align: center;
        box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
    }

    .with--sidebar {
        transform: translateX(300px);
        .menu-nav {
            margin-top: 125px;
            display: inline-block;
        }

        .menu {
            text-align: center;
            text-decoration: none;
            color: inherit;
            margin-right: auto;
            margin-left: auto;
            position: absolute;

            a {
                margin-bottom: 25px;
            }
        }
    }


    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .menu {
        top: 0;
        bottom: 0;
        display: block;
        width: 393px;
        transform: translateX(-395px);
    }

    .menu a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        border-bottom: 1px solid #303f9f;
    }
}

.menu-item:hover {
    background-color: #FFF;
}